{% comment %} 
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h2 class="usa-hero__heading"><span class="usa-hero__heading--alt">Hero callout:</span>Bring attention to a project priority
      </h2>
      <p>Our platform helps federal agencies to turn their PDF forms into digital forms with eSign. Your customers will be delighted by a digital experience which is secure, accessible, and mobile responsive. Your agency will be able to provide better customer services by having real-time form data and integrating it with your existing business processes.</p>
      <a class="usa-button" href="javascript:void(0)">Start a free sandbox</a>
      <a class="usa-button" href="javascript:void(0)">Watch video</a>
    </div>
  </div>
</section>