{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Create and publish digital forms in minutes</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>Our platform helps federal agencies to turn their PDF forms into digital forms with eSign. Your customers will be delighted by a digital experience which is secure, accessible, and mobile responsive. Your agency will be able to provide better customer services by having real-time form data and integrating it with your existing business processes.</p>
      <p>Use the right side of the grid to explain the tagline a bit more. What are your goals? How do you do your work? Write in the present tense, and stay brief here. People who are interested can find details on internal pages.</p>
      <a class="usa-button" usa-button--accent-warm href="javascript:void(0)">Start a free sandbox</a>
    </div>
  </div>
</section>